@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400; 500; 600; 700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.page {
    margin: 0;
    background-image: linear-gradient(#4B4F55, #9E837D, #7B543E);
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-family: "Hachi Maru Pop", cursive;
}

.header {
    background-image: url(./img/fone.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 703.20px;
    
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 45px;
}

.nav-a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.nav-a:hover {
    text-shadow: 3px 0 3px #501A10, 
    0 3px 3px #501A10, 
    -3px 0 3px #501A10, 
    0 -3px 3px #501A10;
}

.wrap {
    max-width: 100%;
    margin: 0;
    background-color: #212123;
    border-top: 7px solid #622A27;
    border-bottom: 7px solid #622A27;
}
.tickers-wrap {
    display: flex;
    gap: 10px;
}
.tickers-wrap:before,
.tickers-wrap:after {
    content: "";
    height: 100%;
    position: absolute;
}

.tickers {
    flex-shrink: 0;
}
.ticker {
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    transition: all 0.1s ease-in-out;
}
.marquee {
    animation: ticker 20s linear infinite;
}

@keyframes ticker {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.doctor {
    margin-left: 120px;
    margin-right: 120px;
}

.h1 {
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #fff;
}

.border1 {
    background-color: #622A27;
    padding: 25px 35px;
    margin: 0;
    width: 540px;
    margin-top: 80px;
    clip-path: polygon(89% 0, 100% 53%, 100% 100%, 0 100%, 0 0);
}

.doctor_text {
    padding-top: 60px;
}

.doctor_text-p {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    width: 75%;
}
.width {
    width: 85%;
}

.pills-anim {
    position: absolute;
    right: 0;
    top: 850px;
    overflow: hidden;
    animation: pills-anim 1s linear forwards;
    z-index: -9999;
}

.pills {
    width: 300px;
    display: block;
    z-index: -9999;
}

@keyframes pills-anim {
    50% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 300px;
    }
}

.doctor_img-hr {
    display: flex;
    align-items: center;
    padding-top: 70px;
    position: relative;
}

.hr1 {
    border: 3px solid #501A10; 
    width: 500px;
    display: block;
}

.element1 {
    overflow: hidden;
    width: 0;
    animation: line1-anim 2s linear forwards;
    margin-right: 70px;
}

@keyframes line1-anim {
    50% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 640px;
    }
}

.position {
    display: flex;
    align-items: center;
}

.img1 {
    width: 300px;
    padding-right: 70px;
}
.img2 {
    width: 450px;

}

.success {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
}

/* .cane {
    margin-left: 80px;
    margin-right: 80px;
    width: 1370px;
    margin-top: 80px;
    position: absolute;
} */

.success_h1 {
    display: flex;
    justify-content: end;
}

.content {
    display: flex;
    justify-content: end;
}

.border2 {
    background-color: #622A27;
    padding: 25px 35px;
    margin: 0;
    width: 1050px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 22% 100%);
}

.success_text-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.success_text-p {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
}

.img3 {
    width: 300px;
}
.img4 {
    padding-top: 20px;
    width: 300px;
}

.quote {
    margin-top: 50px;
}

.quote-text {
    color: #fff;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    width: 95%;
    margin: auto;
}

.author {
    color: #fff;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.desc {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
}

.desc_h1 {
    display: flex;
    justify-content: center;
}

.content2 {
    display: flex;
    justify-content: center;
}

.border3 {
    background-color: #622A27;
    width: 1300px;
    padding-top: 25px;
    padding-bottom: 25px;
    clip-path: polygon(0 0, 100% 0, 92% 100%, 8% 100%);
}

.desc_text-p {
    text-align: center;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 95%;
    margin: 20px auto;
}

.desc_hr-img {
    margin-top: 40px;
}

.imgs {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img5 {
    width: 620px;
}
.img6 {
    width: 620px;
}

.hr2-1 {
    border: 3px solid #501A10;
}
.hr2-2 {
    border: 3px solid #501A10;
}

.element2-1 {
    overflow: hidden;
    width: 0;
    animation: line2-anim 2s linear forwards;
}
.element2-2 {
    overflow: hidden;
    width: 0;
    animation: line2-anim 2s linear forwards;
}

@keyframes line2-anim {
    50% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 1280px;
    }
} 

.actors {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 80px;
}

.actors_h1 {
    display: flex;
    justify-content: end;
}

.content3 {
    display: flex;
    justify-content: end;
}

.border4 {
    background-color: #622A27;
    width: 400px;
    padding: 25px 35px;
    clip-path: polygon(21% 0, 100% 0, 100% 100%, 0 100%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(3, 440px);
    margin: auto;
    margin-top: 30px;
}

.size {
    width: 400px;
}

.facts {
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.facts_h1 {
    display: flex;
    justify-content: center;
}

.content4 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.border5 {
    background-color: #622A27;
    width: 750px;
    padding-top: 25px;
    padding-bottom: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 63%, 80% 100%, 20% 100%, 0 63%, 0% 20%);
}

ul {
    width: 85%;
    margin: 80px auto;
    margin-top: 0;
}

li {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-top: 30px;
}

.capsules2 {
    position: absolute;
    width: 300px;
    left: 0;
    top: 5500px;
    overflow-x: hidden;
    z-index: -99999;
}
.capsules1 {
    position: absolute;
    width: 300px;
    right: 0;
    top: 6035px;
    z-index: -99999;
    overflow-x: hidden;
}

